#container {
    height: 100vh;
}

#home {
    display: flex;
    gap: 10em;
    justify-content: space-evenly;
    padding-right: 7em;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home img {
    width: 40vh;
    box-shadow:  30px 30px 0px 4px rgb(171, 237, 127); /* Adjust the color and size as needed */
    /* outline: 1px solid rgb(172, 222, 79); */
}